<div class="row">
  <div class="large-12 columns">
    <%= simple_nested_form_for recipe do |f| %>
    <div class="row">
      <div class="large-6 columns">
        <%= f.input :name, placeholder: "Name of your recipe" %>
      </div>
      <div class="large-6 columns">
        <%= f.association :category, prompt: 'Choose category' %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <fieldset>
          <legend>Ingredients</legend>
          <%= f.simple_fields_for :ingredients %>
          <%= f.link_to_add "Add an ingredient", :ingredients, class: "small-green-button" %>
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <fieldset>
          <legend>Steps</legend>
          <%= f.simple_fields_for :steps %>
          <%= f.link_to_add "Add a step", :steps, class: "small-green-button" %>
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= f.button :submit, class: 'orange-button right' %>
      </div>
    </div>
    <% end %>
    <div class="row">
      <div class="large-12 columns">
        <%= link_to 'Back to recipes', recipes_path, class: 'button secondary' %>
      </div>
    </div>
  </div>
</div>