<div class="row">
  <div class="small-12 columns">
    <%= simple_nested_form_for recipe do |f| %>
        <div class="row">
          <div class="small-12 medium-6 columns">
            <%= f.input :name, placeholder: 'Name of the recipe' %>
          </div>
          <div class="small-12 medium-6 columns">
            <%= f.association :category, prompt: 'Select category' %>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <%= f.simple_fields_for :ingredients %>
            <%= f.link_to_add "Add an ingredient", :ingredients, class: 'right' %>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <%= f.simple_fields_for :steps %>
            <%= f.link_to_add 'Add a step', :steps, class: 'right' %>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <%= f.button :submit %>
          </div>
        </div>
    <% end %>

    <div class="row">
      <div class="small-12 columns">
        <%= link_to 'Back to recipes', recipes_path %>
      </div>
    </div>
  </div>
</div>
