<div class="row">
  <div class="large-12 columns">
    <%= simple_nested_form_for @recipe do |f| %>
    <fieldset>
      <legend>Recipe</legend>
      <div class="row">
        <div class="large-12 columns">
          <%= f.input :name, placeholder: "Name of your recipe" %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <fieldset>
            <legend>Ingredients</legend>
            <%= f.simple_fields_for :ingredients %>
            <%= f.link_to_add "Add an ingredient", :ingredients, class: "button small" %>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <fieldset>
            <legend>Steps</legend>
            <%= f.simple_fields_for :steps %>
            <%= f.link_to_add "Add a step", :steps, class: "button small" %>
          </fieldset>
        </div>
      </div>
      <%= f.button :submit %>
    </fieldset>
    <% end %>
  </div>
</div>