<div class="row">
  <div class="large-12 columns">
    <div class="form-panel">
    <%= nested_form_for recipe do |f| %>
    <div class="row">
      <div class="large-1 columns">
        <%= f.label :name, class: 'right inline' %>
      </div>
      <div class="large-5 columns">
        <%= f.text_field :name, placeholder: "Name of your recipe" %>
        <% if recipe.errors[:name].any? %>
        <small class="error"><%= recipe.errors[:name].first %></small>
        <% end %>
      </div>
      <div class="large-1 columns">
        <%= f.label :category, class: 'right inline' %>
      </div>
      <div class="large-5 columns">
        <%= f.collection_select :category_id, Category.all, :id, :name %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <fieldset>
          <legend>Ingredients</legend>
          <%= f.fields_for :ingredients %>
          <%= f.link_to_add "Add an ingredient", :ingredients, class: "small-green-button" %>
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <fieldset>
          <legend>Steps</legend>
          <%= f.fields_for :steps %>
          <%= f.link_to_add "Add a step", :steps, class: "small-green-button" %>
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= f.submit 'Save recipe', class: 'orange-button right' %>
      </div>
    </div>
    <% end %>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= link_to 'Back to recipes', recipes_path, class: 'button secondary' %>
      </div>
    </div>
  </div>
</div>