<fieldset>
  <legend>Ingredient</legend>
  <div class="row">
    <div class="small-12 medium-3 columns">
      <%= f.association :foodstuff, prompt: 'Select foodstuff' %>
    </div>
    <div class="small-12 medium-3 columns">
      <%= f.input :quantity, placeholder: 'Quantity of ingredient' %>
    </div>
    <div class="small-12 medium-6 columns">
      <div class="row">
        <div class="small-12 medium-12 columns">
          <%= f.label :unit %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-6 columns">
          <%= f.association :unit, label: false, prompt: 'Select unit' %>
        </div>
        <div class="small-12 medium-6 columns">
          <%= f.link_to_remove "Remove this ingredient", class: "button secondary postfix" %>
        </div>
      </div>
    </div>
  </div>
</fieldset>