<div class="row">
  <div class="large-6 columns">
    <%= f.input :name, placeholder: 'Name of the step' %>
  </div>
  <div class="large-1 columns">
    <%= f.input :duration_h, label: 'Hours', placeholder: 'hh' %>
  </div>
  <div class="large-1 columns">
    <%= f.input :duration_m, label: 'Minutes', placeholder: 'mm' %>
  </div>
  <div class="large-1 columns">
    <%= f.input :duration_s, label: 'Seconds', placeholder: 'ss' %>
  </div>
  <div class="large-3 columns">
    <%= f.link_to_remove "Remove this step", class: "remove-button postfix" %>
  </div>
</div>
