<%= provide(:title, 'Recipes') %>
<%= content_for :header do %>
<h2>Showing recipes</h2>
<h4>Listing every public recipe in the database</h4>
<% end %>
<div class="row">
  <div class="large-12 columns">
    <table>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th width= "400">Time to make</th>
      </tr>
      <% @recipes.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.name, recipe %></td>
        <td><%= recipe.category_name %></td>
        <td>
          <div class="large-4 columns">
            <%= distance_of_time_in_words(recipe.duration_to_s) %>
          </div>
          <div class="large-8 columns">
            <div class="<%= recipe.progress_bar_class %>">
              <span class="meter" style="width: <%= recipe.progress_bar_width %>%"></span>
            </div>
          </div>
        </td>
        <td data-no-turbolink><%= link_to "Edit", edit_recipe_path(recipe) %></td>
      </tr>
      <% end %>
    </table>
    <%= link_to "New Recipe", new_recipe_path, class: 'orange-button', data: { no_turbolink: true } %>
  </div>
</div>
