<div class="row">
  <div class="large-12 columns">
    <h1>New Recipe</h1>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <%= form_for(:recipe, url: recipes_path) do |f| %>
    <fieldset>
      <legend>Recipe</legend>
      <% if @recipe.errors.any? %>
      <% @recipe.errors.full_messages.each do |msg| %>
      <div data-alert class="alert-box alert large-offset-1">
        <%= msg %>
        <a href="#" class="close">&times;</a>
      </div>
      <% end %>
      <% end %>
      <div class="row">
        <div class="large-2 columns">
          <%= f.label :name, class: "right inline" %>
        </div>
        <div class="large-10 columns">
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="row">
        <div class="large-2 columns">
          <%= f.label :ingredient.to_s.pluralize, class: "right inline" %>
        </div>
        <div class="large-10 columns">
          <%= f.collection_select(:ingredient_ids, Ingredient.all, :id, :name,
          {}, { multiple: true }) %>
        </div>
      </div>
      <%= f.fields_for :steps do |builder| %>
      <div class="row">
        <%= builder.label :name, "Step" %><br />
        <%= builder.text_field :name %>
      </div>
      <% end %>
      <div class="row">
        <div class="large-12 columns large-offset-2">
          <%= f.submit 'Save recipe', class: "button" %>
        </div>
      </div>
    </fieldset>
    <% end %>
  </div>
</div>