<header>
  <div class="row">
    <div class="large-12 columns">
      <h1><%= @recipe.name %></h1>
      <h4>Showing recipe for <%= @recipe.name %></h4>
    </div>
  </div>
</header>
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h4>Ingredients</h4>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Unit</th>
          </tr>
        </thead>
        <tbody>
          <% @recipe.ingredients.each do |ingredient| %>
          <tr>
            <td><%= ingredient.foodstuff_name %></td>
            <td><%= ingredient.quantity %></td>
            <td><%= ingredient.unit_name %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="panel">
      <h4>Steps</h4>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>
          <% @recipe.steps.each do |s| %>
          <tr>
            <td><%= s.name %></td>
            <td><%= s.duration %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <p><%= link_to "Go back to recipe listing", recipes_path, class: "button secondary" %></p>
  </div>
</div>