<div class="row">
  <div class="large-12 columns">
    <%= simple_form_for user do |f| %>
    <fieldset>
      <legend>User</legend>
      <%= f.input :name, placeholder: 'Your username' %>
      <%= f.input :email, placeholder: 'Your email address' %>
      <%= f.input :password, placeholder: 'Your password' %>
      <%= f.input :password_confirmation, placeholder: 'Password confirmation', label: 'Confirmation' %>
      <%= f.button :submit, submit_text %>
    </fieldset>
    <% end -%>
  </div>
</div>