<%= provide(:title, @user.name) %>
<%= content_for :header do %>
    <h2>Profile for <%= @user.name %></h2>
    <h4>Showing your profile</h4>
<% end -%>
<div class="row">
  <div class="large-5 columns">
    <ul class="clearing-thumbs" data-clearing>
      <li class="gravatar"><a class="th" href="<%= gravatar_url_for @user %>"><%= gravatar_for @user, size: 300 %></a>
      </li>
    </ul>
    <ul class="vcard profile-vcard">
      <li class="fn"><%= @user.name %></li>
      <li class="email"><%= @user.email %></li>
    </ul>
  </div>
  <div class="large-7 columns">
    <% if @user.recipes.any? %>
        <h4><%= pluralize(@user.recipes.count, 'recipe') %></h4>
        <%= will_paginate @recipes, renderer: FoundationPagination::Rails %>
        <table>
          <thead>
          <th>Name</th>
          <th>Category</th>
          <th class="time-to-make-header">Time to make</th>
          <% if contains_editable_recipes(@user.recipes) %>
              <th></th>
          <% end %>
          </thead>
          <%= render @recipes %>
        </table>
    <% end %>
  </div>
</div>