<%= provide(:title, @user.name) %>
<%= content_for :header do %>
<h2>Profile for <%= @user.name %></h2>
<h4>Showing your profile</h4>
<% end -%>
<div class="row">
  <div class="large-3 columns">
    <%= gravatar_for @user, size: 100 %>
  </div>
  <div class="large-3 columns">
    <p>email: <%= @user.email %></p>
  </div>
  <div class="large-6 columns">
    <% if @user.recipes.any? %>
    <h4>Recipes (<%= @user.recipes.count %>)</h4>
    <ul>
      <%= render @recipes %>
    </ul>
    <%= will_paginate @recipes, renderer: FoundationPagination::Rails %>
    <% end %>
  </div>
</div>