<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Cooking Helper</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li><%= link_to "Home", root_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Recipes", recipes_path %></li>
      <li class="divider"></li>
      <% if signed_in? %>
      <li><%= link_to "Users", users_path %></li>
      <li class="divider"></li>
      <li class="has-dropdown"><a href="#">Account</a>
        <ul class="dropdown">
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Settings", edit_user_path(current_user) %></li>
          <li class="divider"></li>
          <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
        </ul>
      </li>
      <% else %>
      <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul>
  </section>
</nav>